# Assignment 3

In [1]:
try:
    import pandas as pd
    import numpy as np
    print("Imported Successfully")
except:
    print("Something went wrong")

Imported Successfully

In [2]:
iris_data = pd.read_csv("Iris.csv")
iris_data.head()

    x1   x2   x3   x4            y
0  5.1  3.5  1.4  0.2  Iris-Setosa
1  4.9  3.0  1.4  0.2  Iris-Setosa
2  4.7  3.2  1.3  0.2  Iris-Setosa
3  4.6  3.1  1.5  0.2  Iris-Setosa
4  5.0  3.6  1.4  0.2  Iris-Setosa

In [3]:
mapping = {}
class_index = 1
for class_ in set(iris_data['y']):
    mapping[class_] = class_index
    class_index += 1
mapping

{'Iris-Setosa': 1, 'Iris-Virginica': 2, 'Iris-Versicolour': 3}

In [4]:
np_iris_data = np.zeros((150,4))
y = []
for i in range(len(iris_data)):
    y.append(mapping[iris_data.iloc[i][-1]])
    np_iris_data[i] = iris_data.iloc[i][:4]

x_train, x_test = np.zeros((120,4)),np.zeros((30,4))
y_train, y_test = np.zeros((120,)),np.zeros((30,))
for i,j in zip(range(0,150,50),range(0,120,40)):
    x_train[j:j+40] = np_iris_data[i:i+40]
    y_train[j:j+40] = y[i:i+40]
    
for i,j in zip(range(40,150,50),range(0,30,10)):
    x_test[j:j+10] = np_iris_data[i:i+10]
    y_test[j:j+10] = y[i:i+10]

c_0 = np.array([x_train[0:40,i].mean() for i in range(len(x_train[0,:]))])
c_1 = np.array([x_train[40:80,i].mean() for i in range(len(x_train[0,:]))])
c_2 = np.array([x_train[80:120,i].mean() for i in range(len(x_train[0,:]))])

dist = lambda a,b: np.sqrt(np.sum((a-b)**2)).round(3)

y_test_preds = []
for s in x_test:
    d = [dist(s,i) for i in [c_1,c_2,c_0]]
    y_test_preds.append((d.index(min(d)))+1)

Accuracy = ((sum(y_test==y_test_preds)/len(y_test))*100).round(2)
print("Accuracy : ",Accuracy," %")

Accuracy :  30.0  %